.queue-mail-section th, .queue-mail-section td {
    border-top: 1px solid #e4e4e4;
}

.queue-mail-mailer img {
    opacity: 0.5;
    display: block;
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.queue-mail-mailer img:hover, .queue-mail-mailer.active img {
    opacity: 1;
}

.queue-mail-mailer.active img {
    border-color: #7AF740;
}

.queue-mail-settings input[type=text], .queue-mail-settings input[type=email],
.queue-mail-settings input[type=password], .queue-mail-settings input[type=number] {

    border-radius: 3px;
}

.queue-mail-settings input[type=text], .queue-mail-settings input[type=email],
.queue-mail-settings input[type=password] {
    padding: 7px 12px;
    width: 300px;
}

.queue-mail-settings input[type=number] {
    padding: 7px 0 7px 12px;
    width: 65px;
    height: auto;
}

.queue-mail-settings .description {
    font-style: italic;
    font-size: 13px;
    color: #999;
}

.queue-mail-row {
    display: flex;
    flex-wrap: wrap;
}

.queue-mail-col {
    max-width: 300px;
    margin: 0 10px 10px 0;
}

.queue-mail-col label {
    display: block;
    margin-top: 2px;
}

.queue-mail-settings label.inline {
    margin-right: 30px;
    display: inline-block;;
}

.queue-mail-settings label.inline-input {
    margin: 0;
    display: inline-block;;
}

@media screen and (max-width: 782px) {
    .queue-mail-section td {
        border-top: none;
        width: 100%;
    }

    .queue-mail-col label {
        margin-top: 10px;
    }

    label.queue-mail-toggle {
        margin-top: 7px;
    }
}

.queue-mail-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.queue-mail-switch input {display:none;}

.queue-mail-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 14px;
}

.queue-mail-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.queue-mail-settings input:checked + .queue-mail-slider {
    background-color: #8BB638;
}

.queue-mail-settings input:focus + .queue-mail-slider {
    box-shadow: 0 0 1px #8BB638;
}

.queue-mail-settings input:checked + .queue-mail-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.queue-mail-slider:after
{
    content:'OFF';
    color: #000;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 140%;
    font-size: 15px;
    font-weight: bold;
}

.queue-mail-settings input:checked + .queue-mail-slider:after
{
    content:'ON';
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    color: #B94A48;
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}